/* CSS Reset Start */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Lato';
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* CSS Reset END */

.d-none {
    display: none;
}

.container {
    max-width: 1362px;
    height: 100vh;
    display: flex;
    margin: 0px auto;
    align-items: center;
    gap: 110px;
    padding: 0px 20px;
}

.form-container {
    box-shadow: 2px 2px 64px 0px #0000001A;
    background-color: white;
    /* height: 560px; */
    border-radius: 15px;
    padding: 0px 78px;
    max-width: 460px;
    text-align: center;
}

.logo-img {
    margin: 36px auto auto;
}

.tag-line {
    color: #343434;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 5px;
}

.sign-up-social {
    display: flex;
    justify-content: center;
}

.social-btn {
    cursor: pointer;
    /* margin: 38px auto auto; */
    margin: 38px 24px 0px 24px;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    border: 1px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.social-btn span {
    font-weight: 500;
}

.line {
    width: 303px;
    border: 1px;
    border: 1px solid #E6E6E6;
    margin: 22px auto;
}

.form-input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #D7D7D7;
    padding-left: 19px;
    font-weight: 400;
    outline: none;
}

.form .form-input-mt {
    margin-top: 15px;
}

.form .password-eye {
    position: relative;
}

.form .password-eye img {
    position: absolute;
    top: 46%;
    right: 14px;
    cursor: pointer;
}

.form-submit-btn {
    width: 100%;
    height: 50px;
    background-color: #EC6C21;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    font-weight: 400;
    margin-top: 22px;
}

.form-submit-light {
    opacity: 50%;
}

.tnc {
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 12px;
}

.tnc a {
    color: #8A8A8A;
}

.switch-tag {
    margin-top: 44px;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    margin-bottom: 24px;
}

.switch-tag a {
    color: #EC6C21;
    font-weight: 600;
    letter-spacing: 0em;
    text-decoration: underline;
}

/* Error Pop Up */
.error-container {
    position: fixed;
    bottom: 46px;
    max-width: 1362px;
    left: 47%;
    transform: translate(-47%);
    z-index: 1;
}

.error-popup {
    background-color: #101010;
    display: flex;
    align-items: center;
    max-width: 401px;
    margin: 0px auto;
    position: relative;
}

.error-popup img {
    padding: 22px 19px 22px 17px;
}

.error-popup p {
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    color: #FFFFFF;
    max-width: 70%;
}

.error-popup .cross {
    position: absolute;
    top: -10px;
    right: 0px;
}

/* Forget Password */
.forget-heading {
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 57px;
    color: #101010;
    max-width: 331px;
}

.forget-sub-heading {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 13px;
    color: #707070;
}

.form-input-fpass {
    margin-top: 53px;
}

.form-submitf-pass {
    margin-top: 12px;
}

.switch-tag-fpass {
    margin-top: 93px;
}

.forget-hset-new {
    margin-top: 21px;
    margin: 21px auto 0px auto;
}

.form label {
    display: flex;
    text-align: left !important;
    margin-bottom: 5px;
}

.form label:first-child {
    margin-top: 50px;
}

.form-label-set-new {
    margin-top: 16px;
}

.form-submitbtn-set-new {
    margin: 20px 0px 50px 0px;
}

.error {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 8px;
}

.error p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #EC6C21;
}

/* DashBoard CSS Start */
header {
    max-width: 1411px;
}

.header-container {
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    height: 61px;
    box-shadow: 2px 2px 64px 0px #0000001A;
    background-color: white;
    z-index: 1;
}

.header-container .header-logo {
    margin: 8px 50px 6px 16px;
    height: 46px;
    width: 179px;
}

.nav ul {
    display: flex;
    gap: 43px;
}

.nav ul li,
.nav-mob {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 0.5vw;
}

.nav ul li a,
.nav-mob ul li a {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    color: #0D4D8A;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.nav ul li.active {
    border-bottom: 1px solid #0D4D8A;
    border-bottom-width: 2px;
    padding: 0 0.5vw;
    height: 61px;
}

.raise-ticket {
    margin-left: auto;
}

.raise-ticket-btn {
    width: 121px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #EC6C21;
    background-color: transparent;
    color: #EC6C21;
    margin-right: 18px;
    cursor: pointer;
}

.notification {
    position: relative;
    margin-right: 18px;
}

.notification::before,
.notification-mob::before {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: -3px;
    right: -2px;
    border-radius: 50%;
    background: #EC6C21;
}

.profile {
    display: flex;
    align-items: center;
    margin: 0px 15px 0px 0px;
    color: #3E3E3E;
}

.short-form {
    display: grid;
    place-content: center;
    margin-left: 12px;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background: rgba(236, 108, 33, 0.2);
    color: #EC6C21;
}

.welcome-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0em;
    margin-top: 19px;
    text-align: center;
}

.sub-heading {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #7D7D7D;
    margin-top: 12px;
}

.raise-btn-wel {
    margin-top: 34px;
    margin-right: 0px;
}

/* DashBoard CSS End */

/* Pending CSS Start */
.pending-ticket {
    max-width: 1300px;
    margin: 0px auto;
    padding-top: 61px;
}

.pending-ticket .heading{
    text-align: left;
}

.status-btn-container {
    background: #DBDBDB;
    width: 180px;
    height: 36px;
    border-radius: 8px;
    display: flex;
    margin-top: 23px;
    gap: 15px;
}

.status-btn {
    width: 83px;
    height: 28px;
    border-radius: 6px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin: 4px;
    border: none;
    cursor: pointer;
    color: #515151;
}

.status-btn.active {
    background-color: #FFFFFF;
    color: black;
}

.ticket-info-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 23px;
    gap: 24px;
}

.ticket-info-card {
    width: 296px;
    height: 155px;
    border-radius: 8px;
    border-style: solid;
    border-color: #DBDBDB;
}

.ticket-info-card.dotted {
    width: 296px;
    height: 155px;
    border-radius: 8px;
    border-style: dotted;
    border-color: #DBDBDB;
}

.newIssue {
    display: flex;
    margin: 24px 0px 0px 20px;
}

.dottedLine {
    display: grid;
    place-content: center;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    border-style: dotted;
    border-color: #DBDBDB;
    margin-right: 13px;
}

.raise-btn-issue {
    margin-top: 41px;
    margin-left: 20px;
}

.priority-cards {
    display: flex;
    flex-direction: column;
    margin: 17px 0px 0px 17px;
}

.tag-capsuel {
    display: flex;
    align-items: center;
    background: #EC6C2133;
    color: #EC6C21;
    width: max-content;
    height: 23.8px;
    padding: 2px 10px 2px 6px;
    border-radius: 14px;
}

.tag-capsuel.Blue {
    background: #0B4D8933;
    color: #0C4D89;
}

.tag-capsuel p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

.tag-capsuel img {
    margin-right: 4px;
}

.ticket-name {
    display: flex;
    align-items: center;
    margin-top: 12.2px;
}

.ticket-name p {
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
}

.ticket-date {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    margin-top: 9px;
}

.ticket-date span {
    font-weight: 400;
    color: #848484;
}

.capsuel-year {
    margin-left: 11px;
    background: #CACACA;
    width: 45px;
    height: 27px;
    padding: 6px 8px 6px 8px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.status-capsuel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-top: 4px;
    width: 78px;
    height: 28px;
    padding: 5px 9px 5px 6px;
    border-radius: 24px;
    background-color: #7D7D7D;
    color: white;
    margin-top: 10px;
}

.status-capsuel p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

.status-capsuel.resloved {
    background: #04DB00;
}

/* Pending CSS End */

/* dashBoard CSS Start */
.dash-board-container {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 61px;
}

/* Upper Section Start */
.ticket-upper,
.upper-section {
    display: flex;
    align-items: center;
}

.chart-section {
    width: 70%;
    margin-top: 30px;
    margin-left: 25px;
}

.tickets-counter {
    display: flex;
    gap: 63px;
}

.ticket-items span {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #707070;
    margin-top: 7px;
    margin-left: 1.8rem;
}

.disturbed-tickets span {
    margin-left: 0px;
    padding-top: 6px;
}

.ticket-upper p {
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    margin-left: 7px;
}

.disturbed-tickets {
    margin: 0px 35px 0px auto;
}

.disturbed-tickets .inner-tickets {
    display: flex;
    width: 270px;
    height: 24px;
}

.disturbed-tickets .inner-tickets>div {
    padding-left: 7px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

.disturbed-tickets .inner-tickets .orange {
    border-radius: 4px 0px 0px 4px;
    width: 160px;
    background: #EC6C2180;
}

.disturbed-tickets .inner-tickets .voilet {
    width: 52px;
    background: #39376880;
}

.disturbed-tickets .inner-tickets .blue {
    border-radius: 0px 4px 4px 0px;
    width: 58px;
    background: #A8CFEF80;
}

.tickets-tag-line {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #7C7C7C;
    margin-top: 6px;
}

.raise-ticket-section {
    width: 30%;
    background: #F8F8F8;
    padding: 30px 0px 0px 35px;
}

.heading-sm {
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
}

.raise-ticket-section .sub-heading {
    margin-top: 5px;
}

.raise-ticke-form {
    max-width: 335px;
    margin-top: 35px;
}

.raise-ticke-form .form-input {
    margin-top: 11px;
}

.form-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #787878;
}

.form-label-input {
    margin-top: 11px;
}

.priority-radio {
    display: flex;
}

.radio-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.priority-radio label {
    margin-right: 30px;
    cursor: pointer;
}

input[name='priority'] {
    cursor: pointer;
    accent-color: #EC6C21;
    width: 25px;
    height: 25px;
}

.form-label.priority {
    margin-top: 26px;
}

.raise-ticke-form .form-label-input select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("./Assets/downArrow.png");
    background-repeat: no-repeat;
    background-position-x: 92%;
    background-position-y: 14px;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}

/* Upper Section End */

/* Middle Section Start */
.middle-section {
    margin-top: 32px;
    display: flex;
}

.ticket-trend {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.ticket-trend .inner-text {
    display: flex;
    justify-content: space-between;
    align-items: unset;
}

.ticket-trend .inner-text img {
    cursor: pointer;
    margin-right: 50px;
}

.updates-and-open {
    width: 40%;
}

.ticket-trend h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
}

.ticket-trend {
    display: flex;
    justify-content: space-between;
}

.ticket-trend img {
    margin-bottom: 10px;
}

.raised-ticket-below {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    margin-top: 20px;
}

.updates-and-open .raised-ticket-below {
    margin-top: 0px;
    margin-left: 20px;
}

.updates-and-open .ticket-info-card {
    width: 377px;
    height: 65px;
    margin-left: 20px;
    margin-top: 13px;
    display: flex;
}

.updates-and-open .ticket-info-card .tag-capsuel {
    margin-left: auto;
    margin-right: 16px;
    align-self: center;
    cursor: pointer;
}

.updates-and-open .priority-cards {
    margin: 0px;
}

.updates-and-open .ticket-name {
    margin: 6px 0px 0px 17px;
}

.updates-and-open .ticket-date {
    margin: 3px 0px 0px 17px
}

.updates-and-open .ticket-info-card .priority-cards p {
    font-size: 16px;
}

.updates-and-open .view-all {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6px;
    margin-right: 1.5rem;
}

.updates-and-open .view-all a {
    text-decoration: none;
    color: #EC6C21;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}

.updates-and-open .view-all img {
    height: 16px;
}

/* Middle Section End */

/* dashBoard CSS End */

/* Mobile Screen to Tablet Screen */
@media only screen and (max-width:767px) {
    .container {
        padding: 10px;
    }

    .left-img {
        display: none;
    }

    .form-container {
        height: auto;
        width: 100%;
        padding: 20px;
        margin: 0px auto;
        z-index: 1;
    }

    .line {
        width: 100%;
    }

    .error-container {
        width: 90%;
        top: 20px;
        height: max-content;
    }

    .error-popup .cross {
        top: -11px;
        right: -8px;
    }
}



/* navbar Mobile Responsive into Hamburger Start */

#hamburger,
.mobile-navigation {
    display: none;
}

.bar {
    height: 3px;
    width: 60%;
    background-color: rgba(11, 77, 137);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}
@media only screen and (max-width:990px) {

    .nav,
    .notification,
    .profile {
        display: none;
    }

    .header-container .header-logo {
        margin: 8px 20px 6px 16px;
    }

    #hamburger {
        display: block;
        position: relative;
        right: 5px;
        top: 1px;
        margin-left: 10px;
        width: 35px;
        margin: 0px;
        cursor: pointer;
    }

    .raise-btn-wel {
        margin-top: 20px;
    }

    .mobile-navigation {
        display: block;
        position: fixed;
        width: 0px;
        height: 100%;
        z-index: 2;
        left: revert;
        right: 0px;
        background: #FFFFFF;
        box-shadow: 2px 2px 64px 0px #0000001A;
        transition: width 0.5s ease-in-out;
    }

    .nav-active {
        width: 300px;
    }

    .change {
        display: block;
    }

    .change .bar {
        background-color: red;
    }

    .change #bar1 {
        transform: translateY(0px) rotateZ(-45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

    .cross-mob img {
        position: fixed;
        right: 21px;
        top: 19px;
        cursor: pointer;
    }

    .nav-mob {
        position: absolute;
        left: 10%;
        top: 25%;
    }

    .nav-mob ul {
        display: flex;
        flex-direction: column;
    }

    .nav-mob ul li {
        list-style: none;
        margin: 10px 0px;
    }

    .nav-mob ul li.active {
        border-bottom: 1px solid #0D4D8A;
        border-bottom-width: 2px;
        width: max-content;
    }

    .notification-mob {
        position: absolute;
        top: 25px;
        cursor: pointer;
        left: 10%;
    }

    .profile-mob {
        display: flex;
        align-items: center;
        gap: 12px;
        position: absolute;
        left: 10%;
        top: 15%;
        cursor: pointer;
    }

    .profile-mob .short-form{
        margin-left: 0px;
    }
}

@media only screen and (max-width:480px) {
    .header-container .header-logo {
        width: 105px;
    }
}

/* navbar Mobile Responsive into Hamburger End*/

/* Pending ticket and resloved ticket responsive */

@media only screen and (min-width:480px) and (max-width:767px) {
    .pending-ticket{
        padding: 61px 10px 10px 10px;
    }
    .pending-ticket .heading, .pending-ticket .sub-heading{
        text-align: center;
    }
    .pending-ticket .status-btn-container{
        margin: 23px auto;
    }
    .ticket-info-container{
        grid-template-columns: 2fr 2fr;
        gap: 20px;
        place-items: center;
    }
    .ticket-info-card, .ticket-info-card.dotted{
        width: 225px;
    }
}

@media only screen and (max-width:480px) {
    .pending-ticket{
        padding: 61px 10px 10px 10px;
    }
    .pending-ticket .heading, .pending-ticket .sub-heading{
        text-align: center;
    }
    .pending-ticket .status-btn-container{
        margin: 23px auto;
    }
    .ticket-info-container{
        grid-template-columns: auto;
        place-content: center;
    }
}